<mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      <form [formGroup]="firstFormGroup" class="d-flex mt-3" role="search">
        <input id="edValue" class="form-control me-2" placeholder="Enter sign letters" type="text"
            onKeyPress="edValueKeyPress()" >
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" >
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      <h1>Choose Type Style</h1>
      <mat-action-list>
        <button mat-list-item >Standard Bold</button>
        <button mat-list-item >Serif Bold</button>
        <button mat-list-item >Brush</button>
        <button mat-list-item >Free Style</button>
        <button mat-list-item >Standard Condensed</button>
        <button mat-list-item >Standard Round</button>
        <button mat-list-item >Cape Cod</button>
        <button mat-list-item >Boxer</button>
      </mat-action-list>
      
      <!-- <mat-selection-list #shoes>
        <mat-list-option >
            Pepper
        </mat-list-option>
        <mat-list-option >
            Pepper
        </mat-list-option>
        <mat-list-option >
            Pepper
        </mat-list-option>
      </mat-selection-list> -->

      <!-- <mat-list>
        <mat-list-item>Pepper</mat-list-item>
        <mat-list-item>Salt</mat-list-item>
        <mat-list-item>Paprika</mat-list-item>
       </mat-list> -->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
