<div class="d-flex flex-column justify-content-around h-100">
    <div class="d-flex align-items-center cursor-pointer" (click)="selectedProduct('LLL')"><img
            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/categories/channel-letters-and-logos.jpg"
            width="180">
        <div class="mx-3">Face Lit Channel Letters & Logos</div>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="d-flex align-items-center cursor-pointer" (click)="selectedProduct('race')"><img
            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/products/lit-channel-letters-shapes-raceway/product.jpg"
            width="180">
        <div class="mx-3">Face Lit Channel Letters & Logos on Raceway</div>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="d-flex align-items-center cursor-pointer" (click)="selectedProduct('shadow')"><img
            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/products/lit-halo-channel-letters-shapes/product.jpg"
            width="180">
        <div class="mx-3">Face & Halo Lit Channel Letters & Logos</div>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="d-flex align-items-center cursor-pointer" (click)="selectedProduct('shadow')"><img
            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/products/halo-channel-letters-shapes/product.jpg"
            width="180">
        <div class="mx-3">Halo Lit Channel Letters & Logos</div>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="d-flex align-items-center cursor-pointer" (click)="selectedProduct('shadow')"><img
            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/products/halo-channel-letters-shapes-raceway/product.jpg"
            width="180">
        <div class="mx-3">Halo Lit Channel Letters & Logos on</div>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="d-flex align-items-center cursor-pointer" (click)="selectedProduct('shadow')"><img
            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/categories/lit-shapes.jpg"
            width="180">
        <div class="mx-3">Lit Shape Signs</div>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
</div>