// header


.XiKdh {
    background-color: rgb(156, 134, 255);
    color: white;
    padding: 0px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 15px;

}

.XiKdh>div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.XiKdh>div h1 {
    color: white;
    margin: 3px;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}

.XiKdh>div header {
    display: none;
    color: white;
    margin: 5px;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}

.XiKdh>div>div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.XiKdh>div a:nth-child(1) {
    border-right: 1px solid white;
}


.XiKdh>div a {
    color: white;
    padding: 0px 10px;
}

.XiKdh>div a:nth-child(2) {
    border-left: 1px solid white;
}

.ijFqFS {
    position: fixed;
    top: 27px;
    left: 0px;
    right: 0px;
    z-index: 998;
    background-color: white;
    color: rgb(51, 51, 51);
    padding: 0px;
    font-size: 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.kdqiRz {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 15px;
}

.hBrJyQ svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kdqiRz button.menu {
    display: none;
}

.kdqiRz button {
    padding: 15px;
    margin: 0px;
    font-size: 16px;
    white-space: nowrap;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.kdqiRz>a {
    color: black;
    flex: 1 1 0%;
    padding: 0px 15px;
    text-align: center;
}

.kdqiRz>a.logo {
    flex: 1 1 0%;
    margin-left: 0px;
    margin-right: 0px;
    width: 200px;
    height: 50px;
    background-image: url(https://storage.googleapis.com/signmonkey-148101.appspot.com/images/logo.png?v2);
    background-repeat: no-repeat;
    background-size: contain;
}

.kdqiRz>a.help {
    text-align: right;
    font-size: 13px;
}

.kdqiRz>a.help button {
    display: flex;
}

.kdqiRz>a.cart button,
.kdqiRz>a.help button {
    background-color: white;
    border: 0px;
}

.kdqiRz>a.help svg {
    height: 36px;
    width: 36px;
    margin-right: 6px;
}

.kdqiRz>a.help button>div {
    display: block;
}

.kdqiRz>a.help span {
    display: block;
}

.kdqiRz>a.help button>small {
    display: none;
}

.kdqiRz button {
    padding: 15px;
    margin: 0px;
    font-size: 16px;
    white-space: nowrap;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}


.kdqiRz button {
    padding: 15px;
    margin: 0px;
    font-size: 16px;
    white-space: nowrap;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.jtxUHf {
    background-color: rgb(220, 53, 69);
    border: 0px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    margin: 1px 0px;
    display: inline-block;
    width: auto;
}
.kdqiRz>a {
    color: black;
    flex: 1 1 0%;
    padding: 0px 15px;
    text-align: center;
}

.kdqiRz>a {
    color: black;
    flex: 1 1 0%;
    padding: 0px 15px;
    text-align: center;
}

.hBrJyQ {
    margin: -5px 10px -5px -5px;
    padding: 8px 15px;
    background-color: white;
    border-width: 0px 1px 0px 0px;
    border-top-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-right-style: solid;
    border-right-color: rgb(239, 239, 239);
    text-align: center;
}

button {
    cursor: pointer;
}

.crmGkW {
    position: relative;
    background-image: url(https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/hero/building7.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 500px;
}

.jdgwtp {
    margin: 0px 0px 30px;
    color: white;
    text-align: right;
}

.jdgwtp>div {
    background-color: rgb(137, 120, 224);
    border-radius: 5px;
    padding: 8px;
    position: relative;
    box-shadow: rgb(204, 204, 204) 0px 10px 10px;
}


.gfzgQW {
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.jdgwtp img.person {
    position: absolute;
    bottom: 0px;
    left: -43px;
    height: 260px;
    max-width: 100%;
}

.jdgwtp>div>div {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.jdgwtp h3 {
    font-size: 25px;
    padding: 0px;
    font-weight: 400;
    margin: 0px;
}

.jdgwtp>div>div a {
    margin-left: 20px;
}

.jdgwtp>div>div a button {
    padding: 15px;
    font-size: 16px;
    white-space: nowrap;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    overflow: visible;
}


.jtxUHf svg {
    margin-right: 5px;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}


.jtxUHf {
    background-color: rgb(220, 53, 69);
    border: 0px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    margin: 1px 0px;
    display: inline-block;
    width: auto;
}

.jtxUHf svg {
    margin-right: 5px;
}

.iSfTPd {
    display: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px 20px;
    background-color: white;
}

.iSfTPd li.design {
    background-color: rgb(220, 53, 69);
}

.iSfTPd li.design a {
    color: white;
    box-shadow: rgb(204, 204, 204) 0px 5px 5px;
}

.iSfTPd a {
    padding: 16px 20px;
    font-size: 22px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-decoration: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    color: black;
}

.gfzgQW {
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gbfAmy {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.gbfAmy>.trustpilot {
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 10px;
    transform: scale(0.75);
}

.gbfAmy>* {
    padding: 15px;
    flex-basis: 25%;
    color: black;
}

.gbfAmy>.trustpilot2 {
    display: none;
}

.gbfAmy h4 {
    color: rgb(236, 151, 21);
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
}

.gbfAmy h2 {
    margin: 0px;
    font-size: 25px;
    font-weight: 400;
    color: black;
}

.gbfAmy div.learn {
    color: rgb(0, 127, 255);
}

.hdAcJJ {
    display: grid;
    grid-template-columns: repeat(9, 11.1%);
    gap: 1px;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.hdAcJJ a {
    display: block;
}

.grow {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.fZEYHg {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.fZEYHg h2 {
    margin: 0px;
    font-size: 35px;
    font-weight: 700;
    color: rgb(68, 68, 68);
    line-height: 1.1em;
}

.fZEYHg div {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0px 0px;
}

.bvQEbq {
    border-top: 3px solid rgb(232, 232, 232);
    border-bottom: 1px solid rgb(232, 232, 232);
    background-image: url(https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/tiles/grey3.jpg);
    margin-top: 100px;
    margin-bottom: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.eHbwgo {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bvQEbq>div>div:first-child {
    margin-top: -50px;
}

.hedzjQ {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: rgb(204, 204, 204) 0px 6px 10px;
    margin-top: 35px;
    padding: 20px 10px;
    display: flex;
}

.hedzjQ>a {
    width: 300px;
}

.hedzjQ>div {
    padding-left: 20px;
    flex: 1 1 0%;
}

.hedzjQ>div h3 {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-size: 18px;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 6px;
}

.hedzjQ>div p {
    font-size: 100%;
}

.hedzjQ>div>div {
    margin-top: 30px;
}

a {
    color: #007fff;
    text-decoration: none;
}

.jsbHtj {
    background-color: transparent;
    border: 1px solid rgb(0, 127, 255);
    color: rgb(0, 127, 255);
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin: 2px 0px;
    cursor: pointer;
    display: inline-block;
    width: auto;
}

.igWpfW {
    background-color: transparent;
    border: 1px solid rgb(220, 53, 69);
    color: rgb(220, 53, 69);
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin: 2px 0px;
    cursor: pointer;
    display: inline-block;
    width: auto;

    svg:not(:host).svg-inline--fa,
    svg:not(:root).svg-inline--fa {
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        overflow: visible;
    }


    .igWpfW svg {
        margin-right: 5px;
        margin-left: 0px;
    }

    .svg-inline--fa {
        display: var(--fa-display, inline-block);
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;
    }
}

.hedzjQ>div>div button[color="darkgrey"] {
    border-color: rgb(200, 200, 200);
    color: rgb(125, 125, 125);
}

.gCyOBe {
    background-color: transparent;
    border: 1px solid;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin: 2px 0px;
    cursor: pointer;
    display: inline-block;
    width: auto;
}

.hYPChl {
    background-color: white;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: rgb(204, 204, 204) 0px 6px 10px;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 20px;
}

.hYPChl a {
    color: black;
}

.hYPChl h2 {
    margin-top: 0px;
    margin-bottom: 8px;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

.gQbegY {
    background-color: transparent;
    border: 1px solid rgb(0, 127, 255);
    color: rgb(0, 127, 255);
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
}

.kwmQko {
    display: flex;
}

.kwmQko>div:first-child {
    width: 50%;
}

.kwmQko>div {
    padding: 10px;
}



// FInd a sign
.eHbwgo {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gpIFLP {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: initial;
}

.gpIFLP>div:first-child {
    flex-basis: 50%;
    padding-right: 5px;
}

.hcGDLP {
    text-align: center;
    padding: 10px;
}

.hcGDLP h2 {
    font-size: 20px;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}



.fobnJd {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    width: 100%;
    text-align: left;
    padding: 8px;
    position: relative;
}

.fobnJd legend {
    font-size: 70%;
    position: absolute;
    top: -9px;
    left: 20px;
    background: white;
    padding: 0 10px;
    width: max-content;
}

.fobnJd>div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.eWPWhb {
    flex: 1 1 0%;
    max-width: 100%;
    width: 100%;
    font-size: 18px;
    padding: 7px;
    border: 0px;
}

.gKMRgF {
    background-color: rgb(0, 127, 255);
    border: 0px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    margin: 1px 0px;
    display: inline-block;
    width: auto;
}

.gpIFLP>div:last-child {
    flex-basis: 50%;
    padding-left: 5px;
}

.fhxYbc {
    height: 200px;
    overflow: hidden;
}


.liyIYZ {
    margin: 0px;
}

img.image {
    image-rendering: -webkit-optimize-contrast;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.cSInml {
    border-top: 3px solid rgb(232, 232, 232);
    border-bottom: 1px solid rgb(232, 232, 232);
    background-image: url(https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/tiles/grey3.jpg);
    padding-top: 25px;
    margin-top: 30px;
}

.eHbwgo {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.eiwQmd {
    padding: 0px;
}

.eiwQmd h2 {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-size: 25px;
    margin: 0px;
}

.eiwQmd p {
    margin-top: 5px;
    font-size: 16px;
}

.eiwQmd>div {
    margin-bottom: 20px;
}


.jzVygK {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}



.jzVygK>div:first-child {
    flex-basis: 33.3%;
    padding-right: 5px;
}

.jzVygK>div:nth-child(2) {
    flex-basis: 33.3%;
    padding-right: 5px;
}

.jzVygK>div:last-child {
    flex-basis: 33.3%;
    padding-left: 5px;
}

.eiwQmd label {
    text-align: center;
    font-size: 22px;
    padding: 5px 15px;
    display: block;
}

.eHbwgo {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gaJxPz {
    padding: 25px 10px;
    background-color: white;
}

.gaJxPz>h2 {
    font-size: 25px;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
}

.cVQocA {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.buiFlZ {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    box-shadow: rgb(204, 204, 204) 0px 5px 5px;
    margin-bottom: 40px;
    display: flex;
}

.buiFlZ>div.preview {
    min-width: 250px;
    flex: 0 1 0%;
}


.buiFlZ>div {
    flex: 1 1 0%;
    padding: 10px;
}

.buiFlZ>div.preview img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.buiFlZ>div {
    flex: 1 1 0%;
    padding: 10px;
}

.buiFlZ>div h3 {
    margin: 0px 0px 5px;
    padding: 0px;
    font-size: 18px;
}

.djzfol {
    background-color: transparent;
    border: 1px solid rgb(0, 127, 255);
    color: rgb(0, 127, 255);
    padding: 7px 20px;
    font-size: 15px;
    border-radius: 5px;
    margin: 2px 0px;
    cursor: pointer;
    display: inline-block;
    width: auto;
}

.buiFlZ>div small {
    display: block;
    color: rgb(153, 153, 153);
    margin-bottom: 10px;
}

.buiFlZ>div p {
    margin-top: 0px;
}

.jsasUD {
    background-color: transparent;
    border: 1px solid rgb(0, 127, 255);
    color: rgb(0, 127, 255);
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin: 2px 0px;
    cursor: pointer;
    display: inline-block;
    width: auto;
}

svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    overflow: visible;
}

.jsasUD svg {
    margin-right: 0px;
    margin-left: 5px;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.cPWsgW {
    background-image: url(https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/tiles/grey4.jpg);
    padding-top: 25px;
    padding-bottom: 25px;
}

.gfzgQW {
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gtmFbg {
    padding: 0px;
    color: white;
}

.gtmFbg h2 {
    font-size: 25px;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    color: white;
}

.gtmFbg p {
    margin-top: 0px;
}

.jtxUHf {
    background-color: rgb(220, 53, 69);
    border: 0px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    margin: 1px 0px;
    display: inline-block;
    width: auto;
}

.gjGxeG {
    padding: 25px 0px 0px;
    background-color: rgb(56, 57, 58);
    color: white;
    font-size: 14px;
}

.iEzitV {
    display: flex;
}

.iEzitV>div:first-child {
    flex-basis: 25%;
    padding-right: 5px;
}

.gjGxeG h3 {
    font-size: 22px;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

.gjGxeG ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.gjGxeG ul li {
    margin-bottom: 4px;
}

.gjGxeG a {
    color: white;
    text-decoration: none;
}

.iEzitV>div:nth-child(3) {
    flex-basis: 25%;
    padding-right: 5px;
}

.iEzitV>div:nth-child(2) {
    flex-basis: 25%;
    padding-right: 5px;
}

.gjGxeG h3 {
    font-size: 22px;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

.gjGxeG ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.iEzitV>div:last-child {
    flex-basis: 25%;
    padding-left: 5px;
}

.gKDNVs {
    text-align: right;
    padding-top: 25px;
}

.gAojmh {
    margin-top: 30px;
    font-size: 75%;
    border-top: 1px solid rgb(102, 102, 102);
    padding: 20px 0px;
    color: rgb(204, 204, 204);
}

.gAojmh a {
    margin-right: 20px;
    color: rgb(204, 204, 204);
    text-decoration: none;
}

.gAojmh div {
    margin: 10px 0px;
    color: rgb(102, 102, 102);
}