<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <button mat-button matStepperPrevious (click)="exit()">Back</button>
    <button mat-button matStepperNext>Next</button>
    <form [formGroup]="firstFormGroup" class="d-flex mt-3" role="search">
      <input id="edValue" class="form-control me-2" placeholder="Enter sign letters" type="text"
        formControlName="firstCtrl">
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
    <h1>Choose Type font</h1>
    <mat-action-list>
      <button *ngFor="let fnt of fontArray;" mat-list-item (click)="fontSelect(fnt.name)"><img [src]="fnt.imgpath"
          alt="">
        {{fnt.name}}</button>
    </mat-action-list>
  </mat-step>
  <!-- <mat-step >
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      <h1>Choose Type Size</h1>
      <mat-action-list>
        <button mat-list-item (click)="sizeSelect('50px')">Standard Bold</button>
        <button mat-list-item (click)="sizeSelect('100px')">Serif Bold</button>
        <button mat-list-item (click)="sizeSelect('150px')">Brush</button>
        <button mat-list-item (click)="sizeSelect('200px')">Free Style</button>
        <button mat-list-item (click)="sizeSelect('250px')">Standard Condensed</button>
        <button mat-list-item (click)="sizeSelect('300px')">Standard Round</button>
        <button mat-list-item (click)="sizeSelect('350px')">Cape Cod</button>
        <button mat-list-item (click)="sizeSelect('400px')">Boxer</button>
      </mat-action-list>
    </mat-step> -->
  <mat-step>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
    <h1>Choose Type color</h1>
    <mat-action-list class="d-flex">
      <ng-container *ngFor="let color of colorArray;">
        <button mat-list-item [ngStyle]="{backgroundColor: color.name}" [ngClass]="color.name" class="color-box"
          (click)="colorSelect(color.name,'field')">{{color.name}}</button>
      </ng-container>
    </mat-action-list>
    <h1>Choose border color</h1>
    <mat-action-list class="d-flex">
      <ng-container *ngFor="let color of colorArray;">
        <button mat-list-item [ngStyle]="{backgroundColor: color.name}" [ngClass]="color.name" class="color-box"
          (click)="colorSelect(color.name,'stroke')">{{color.name}}</button>
      </ng-container>
    </mat-action-list>
    <h1>Choose Shadow color</h1>
    <mat-action-list class="d-flex">
      <ng-container *ngFor="let color of colorArray;">
        <button mat-list-item [ngStyle]="{backgroundColor: color.name}" [ngClass]="color.name" class="color-box"
          (click)="colorSelect(color.name,'shadow')">{{color.name}}</button>
      </ng-container>
    </mat-action-list>
    <mat-action-list>
      <mat-accordion multi>
        <mat-expansion-panel [expanded]="step === 0" (opened)="step = 0" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Premium Colors
            </mat-panel-title>
            <!-- <mat-panel-description>
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <ng-container *ngFor="let color of colorArray;">
            <button  [ngStyle]="{backgroundColor: color.name}" [ngClass]="color.name" class="color-box"
              (click)="colorSelect(color.name,'stroke')"></button>
          </ng-container>

        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="step = 1" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sherwin Willams
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let color of colorArray;">
            <button  [ngStyle]="{backgroundColor: color.name}" [ngClass]="color.name" class="color-box"
              (click)="colorSelect(color.name,'stroke')"></button>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-action-list>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button class="Reset" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>