<div class="subpanel overflow  sc-hqyNC fmMFPB">
    <div class="sc-iELTvK kWWMt">
        <div class="sc-cmTdod fqcxCf"><canvas class="lower-canvas" width="125" height="125"
                style="width: 100px; height: 100px;" id="canvas-main"></canvas></div>
        <div class="buttons"><button label="Flip Shape" color="orange" class="sc-htoDjs eqtwmP">Flip
                Shape</button><button label="Rotate Shape" color="orange" class="sc-htoDjs eqtwmP">Rotate Shape</button>
        </div>
    </div>
    <div class="sc-kafWEX eyTfhD">
        <div class="expanded sc-feJyhm jtoMWd">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h5 class="accordion-header" id="headingPopular">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#Popular" aria-expanded="true" aria-controls="Popular">
                            Popular
                        </button>
                    </h5>
                    <div id="Popular" class="accordion-collapse collapse show" aria-labelledby="headingPopular"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="sc-ktHwxA fQmqEs" *ngFor="let shape of popularShapes;let index=index">
                                <div class="sc-cIShpX jHUTXT" title="{{shape.name}}" (click)="selectedShape(shape)"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;" id="canvas-{{shape.id}}"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-header" id="headingBasic">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#Basic" aria-expanded="true" aria-controls="Basic">
                            Basic
                        </button>
                    </h5>
                    <div id="Basic" class="accordion-collapse collapse show" aria-labelledby="headingBasic"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="sc-ktHwxA fQmqEs">
                                <div class="sc-cIShpX jHUTXT" title="Circle"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Square"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="active sc-cIShpX jHUTXT" title="Oval Horizontal 1"><canvas
                                        class="lower-canvas" width="87.5" height="87.5"
                                        style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Oval Vertical 1"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Rectangle Vertical 1"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-header" id="headingLines">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#Lines" aria-expanded="true" aria-controls="Lines">
                            Lines
                        </button>
                    </h5>
                    <div id="Lines" class="accordion-collapse collapse show" aria-labelledby="headingLines"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="sc-ktHwxA fQmqEs">
                                <div class="sc-cIShpX jHUTXT" title="Capsule Horizontal 1"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Capsule Horizontal 4"><canvas class="lower-canvas"
                                        width="150" height="87.5" style="width: 120px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Rectangle Horizontal 3"><canvas
                                        class="lower-canvas" width="150" height="87.5"
                                        style="width: 120px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Capsule Half Left 1"><canvas class="lower-canvas"
                                        width="150" height="87.5" style="width: 120px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Capsule Half Right 1"><canvas class="lower-canvas"
                                        width="150" height="87.5" style="width: 120px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Capsule Vertical 1"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-header" id="headingLetters">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#Letters" aria-expanded="true" aria-controls="Letters">
                            Letters Shapes
                        </button>
                    </h5>
                    <div id="Letters" class="accordion-collapse collapse show" aria-labelledby="headingLetters"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="sc-ktHwxA fQmqEs">
                                <div class="sc-cIShpX jHUTXT" title="Dollar Sign"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Plus1"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="@"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="#"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-header" id="headingShapes">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#Shapes" aria-expanded="true" aria-controls="Shapes">
                            Shapes
                        </button>
                    </h5>
                    <div id="Shapes" class="accordion-collapse collapse show" aria-labelledby="headingShapes"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="sc-ktHwxA fQmqEs">
                                <div class="sc-cIShpX jHUTXT" title="Heart 1"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Donuts 1"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Shield 2"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Pizza 1"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Rectangle Horizontal 2"><canvas
                                        class="lower-canvas" width="87.5" height="87.5"
                                        style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Star 5 Pointed"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Flag Right 1"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Shield1"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Diamond"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Percent"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Arrow Right 1"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Caduceus 1"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Drip"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Methodist Cross 1"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Mortar &amp; Pestle 1"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Palm Tree Left 1"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="T Shirt 1"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Tooth 1"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Foot Right"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Foot Left"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Eyeglasses 1"><canvas class="lower-canvas"
                                        width="150" height="87.5" style="width: 120px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="IceCream1"><canvas class="lower-canvas"
                                        width="87.5" height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                                <div class="sc-cIShpX jHUTXT" title="Cross 1"><canvas class="lower-canvas" width="87.5"
                                        height="87.5" style="width: 70px; height: 70px;"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>