input,
textarea,
div.filler {
    flex: 1 1 0%;
    font-size: 16px;
    border: 0px;
    border-radius: 4px;
    background-color: rgb(238, 238, 238);
    padding: 5px;
}

button {
    display: block;
    background-color: rgb(202, 18, 84);
    border: 0px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.2s ease 0s;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.kWWMt div.buttons button {
    width: 100%;
    margin-bottom: 5px;
}

.eqtwmP {
    background-color: white;
    border: 2px solid rgb(236, 151, 21);
    color: rgb(236, 151, 21);
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.2s ease 0s;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
}

.fqcxCf {
    margin: 0px 0px 10px;
    padding: 5px;
    border: 1px solid rgb(236, 151, 21);
    flex: 1 1 0%;
    text-align: center;
}

.kWWMt {
    display: flex;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin: 0px;
}

.fmMFPB {
    display: block;
    padding: 10px;
    max-height: calc(100vh - 145px);
    overflow: hidden auto;
}

.kdIpjn div.subpanels {
    height: auto;
    max-height: calc(100vh - 75px);
    overflow: auto;
}

.kWWMt div.buttons {
    margin: 0px 10px;
}

.cBSPOA {
    background-color: white;
    border: 2px solid rgb(236, 151, 21);
    color: rgb(236, 151, 21);
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.2s ease 0s;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.jhojzM {
    flex: 1 1 0%;
    display: flex;
}

.jhojzM .MuiInputBase-root,
.jhojzM .loading {
    flex: 1 1 0%;
}

.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
}

.jhojzM .MuiInputBase-root.font .MuiSelect-root {
    padding: 0px;
    color: black;
    border: 0px;
}

.MuiSelect-select.MuiSelect-select {
    padding-right: 24px;
}

.jss62 {
    color: white;
    border: 1px solid white;
    padding: 4px;
    position: relative;
    font-size: 16px;
    border-radius: 4px;
    background-color: transparent;
}

.MuiSelect-selectMenu {
    height: auto;
    overflow: hidden;
    min-height: 1.1876em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.MuiSelect-select {
    cursor: pointer;
    min-width: 16px;
    user-select: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

.jhojzM input,
.jhojzM textarea,
.jhojzM div.filler {
    flex: 1 1 0%;
    font-size: 16px;
    border: 0px;
    border-radius: 4px;
    padding: 5px;
}


.MuiSelect-nativeInput {
    left: 0;
    width: 100%;
    bottom: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.jhojzM button.color {
    display: block;
    height: 30px;
    flex-shrink: 0;
    flex-basis: 30px;
    margin-left: 8px;
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
}



.eDOXIf {
    flex-shrink: 0;
    flex-basis: 80px;
    padding: 5px;
    margin-right: 8px;
    font-size: 12px;
}

.jhojzM {
    flex: 1 1 0%;
    display: flex;
}

.letVLu {
    background-color: transparent;
    border: 1px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}


.svg-inline--fa.fa-w-12 {
    width: 0.75em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.ekAxWx {
    display: flex;
    background-color: transparent;
    color: inherit;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid rgb(213, 213, 213);
}

.exoAQC {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
}



.kaXjBM {
    display: block;
    padding: 1px;
    max-height: calc(100vh - 145px);
    overflow: hidden auto;
    background-color: white;
}

.eYqUzi {
    background-color: transparent;
    padding: 3px;
    min-width: 75px;
    max-width: 100px;
    flex: 1 1 0%;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.eYqUzi img {
    max-width: 90%;
    max-height: 100px;
    margin: 2px;
    border-radius: 3px;
}

.jhojzM .MuiInputBase-root.font .MuiSelect-root {
    padding: 0px;
    color: black;
    border: 0px;
}

.MuiSelect-select.MuiSelect-select {
    padding-right: 24px;
}

.jss98 {
    color: white;
    border: 1px solid white;
    padding: 4px;
    position: relative;
    font-size: 16px;
    border-radius: 4px;
    background-color: transparent;
}

.MuiSelect-selectMenu {
    height: auto;
    overflow: hidden;
    min-height: 1.1876em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.MuiSelect-select {
    cursor: pointer;
    min-width: 16px;
    user-select: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

.MuiSelect-icon {
    top: calc(50% - 12px);
    color: rgba(0, 0, 0, 0.54);
    right: 0;
    position: absolute;
    pointer-events: none;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}