.bvgFlc {
    display: flex;
    height: calc(100vh - 95px);
    width: 400px;
    overflow: hidden;
    position: relative;
    flex-direction: row;
}

.bUNRtj {
    flex: 0 1 0%;
    max-width: 100px;
    min-width: 100px;
    background-color: rgb(51, 51, 51);
    position: static;
    top: auto;
    z-index: 11;
}

.kGdeYi img {
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}

.kGdeYi {
    flex: 0 1 0%;
    max-width: 100px;
    min-width: 100px;
    position: static;
    top: auto;
    z-index: 11;
    padding: 8px;
    margin: 0px;
    text-align: center;
    border-bottom: 1px solid rgb(68, 68, 68);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    filter: invert(1);

    &.active {
        filter: initial;
        background: white;
    }
}

.kGdeYi label {
    font-size: 9px;
    font-weight: 200;
    color: black;
}

.nYhtN {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: auto;
    display: block;
    display: flex;
    flex-direction: column;

    background-color: rgb(51, 51, 51);

    &>li {
        flex: 1;
    }
}

.bUNRtj {
    flex: 0 1 0%;
    max-width: 100px;
    min-width: 100px;
    position: static;
    top: auto;
    z-index: 11;
}

.bvgFlc {
    display: flex;
    height: calc(100vh - 95px);
    width: 400px;
    overflow: hidden;
    position: relative;
    flex-direction: row;
}

.h100vh {
    height: 100vh;
}



.ekAxWx {
    display: flex;
    background-color: transparent;
    color: inherit;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid rgb(213, 213, 213);
}


input,
textarea,
div.filler {
    flex: 1 1 0%;
    font-size: 16px;
    border: 0px;
    border-radius: 4px;
    background-color: rgb(238, 238, 238);
    padding: 5px;
}