<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <ul class="sc-gojNiO nYhtN">
                    <li class="sc-daURTG kGdeYi" (click)="selectedType= 'Product'"><img
                            src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/products/lit-cabinet-retainer-double/icon.jpg"><label>Product</label>
                    </li>
                    <li class="sc-daURTG kGdeYi"  (click)="selectedType= 'Shape'"><canvas class="lower-canvas" width="37.5" height="32.5"
                            style="width: 30px; height: 26px;" id="canvas-shape"></canvas><label>Shape</label></li>
                    <li class="active sc-daURTG kGdeYi" (click)="selectedType= 'FaceText'"><img
                            src="../assets/images/face-art/facetext.black.svg"><label>Face Text</label></li>
                    <li class="sc-daURTG kGdeYi"  (click)="selectedType= 'FaceArt'"><img src="../assets/images/face-art/facearts.black.svg"><label>Face
                            Art</label></li>
                    <li class="sc-daURTG kGdeYi"  (click)="selectedType= 'Upload'"><img
                            src="../assets/images/face-art/faceupload.black.svg"><label>Upload Art</label></li>
                    <li class="sc-daURTG kGdeYi"  (click)="selectedType= 'Colors'"><img
                            src="../assets/images/face-art/colors.black.svg"><label>Colors</label></li>
                    <li class="sc-daURTG kGdeYi"  (click)="selectedType= 'Size'"><img
                            src="../assets/images/face-art/size.black.svg"><label>Size</label></li>
                    <li class="sc-daURTG kGdeYi"  (click)="selectedType= 'Lighting'"><img
                            src="../assets/images/face-art/lighting.black.svg"><label>Lighting</label></li>
                    <li class="sc-daURTG kGdeYi"  (click)="selectedType= 'Options'"><img
                            src="../assets/images/face-art/options.black.svg"><label>Options</label></li>
                </ul>
            </div>
            <div class="tab-content" id="v-pills-tabContent" style="width: 370px;">
              <app-shape-filter *ngIf="selectedType == 'Shape'" (shapeEmitter)="shapeEmitter($event)" ></app-shape-filter>
              <app-text-filter *ngIf="selectedType == 'FaceText'" [selectedObject]="selectedObject"></app-text-filter>
              <app-text-art-filter *ngIf="selectedType == 'FaceArt'" [selectedObject]="selectedObject"></app-text-art-filter>
            </div>
        </div>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div >
            <!-- <canvas id="exampleCanvas" class="lower-canvas">
                Your browser doesn’t currently support HTML5 Canvas. Please check caniuse.com/#feat=canvas for
                information on browser support for canvas.
            </canvas> -->
            <canvas id="ContainerCanvas" ></canvas>
        </div>
    </div>
</div>


<!-- <div class="open undefined sc-cJSrbW lLnIL">
    <div class="sc-ksYbfQ czdRRp">
        <div class="sc-bHwgHz jMpLcM">
            <h3>Lit Squared Cabinet - Double Faced</h3>
        </div>
    </div>
    <div class="sc-frDJqD kdIpjn">
        <div class="sc-TFwJa VclJD">
            <div type="cabinet" class="sc-exAgwC bvgFlc">
                <div class="sc-cQFLBn bUNRtj">
                    <ul class="sc-gojNiO nYhtN">
                        <li class="sc-daURTG kGdeYi"><img
                                src="https://storage.googleapis.com/signmonkey-148101.appspot.com/2020/products/lit-cabinet-retainer-double/icon.jpg"><label>Product</label>
                        </li>
                        <li class="sc-daURTG kGdeYi"><canvas class="lower-canvas" width="37.5" height="32.5"
                                style="width: 30px; height: 26px;"></canvas><label>Shape</label></li>
                        <li class="active sc-daURTG kGdeYi"><img
                                src="/builder-05-05-2023-14/icons/facetext.black.svg"><label>Face Text</label></li>
                        <li class="sc-daURTG kGdeYi"><img src="/builder-05-05-2023-14/icons/facearts.svg"><label>Face
                                Art</label></li>
                        <li class="sc-daURTG kGdeYi"><img
                                src="/builder-05-05-2023-14/icons/faceupload.svg"><label>Upload Art</label></li>
                        <li class="sc-daURTG kGdeYi"><img
                                src="/builder-05-05-2023-14/icons/colors.svg"><label>Colors</label></li>
                        <li class="sc-daURTG kGdeYi"><img
                                src="/builder-05-05-2023-14/icons/size.svg"><label>Size</label></li>
                        <li class="sc-daURTG kGdeYi"><img
                                src="/builder-05-05-2023-14/icons/lighting.svg"><label>Lighting</label></li>
                        <li class="sc-daURTG kGdeYi"><img
                                src="/builder-05-05-2023-14/icons/mount.svg"><label>Mount</label></li>
                    </ul>
                </div>
                <div class="subpanels sc-lkqHmb frmgHG">
                    <div class="subpanel overflow text sc-hqyNC kaXjBM">
                        <div style="padding: 10px 40px 5px;"><button label="Add New Text" color="burgundy"
                                class="sc-EHOje fFTDTg">Add New Text</button></div>
                        <div class="sc-eilVRo dBtaUh">
                            <div class="sc-eerKOB ekAxWx">
                                <div class="sc-cpmLhU jhojzM">
                                    <div class="MuiInputBase-root font">
                                        <div class="MuiSelect-root MuiSelect-select MuiSelect-selectMenu MuiInputBase-input jss56"
                                            tabindex="0" role="button" aria-haspopup="listbox">Arial</div><input
                                            aria-hidden="true" tabindex="-1" class="MuiSelect-nativeInput"
                                            value="Arial"><svg class="MuiSvgIcon-root MuiSelect-icon" focusable="false"
                                            viewBox="0 0 24 24" aria-hidden="true">
                                            <path d="M7 10l5 5 5-5z"></path>
                                        </svg>
                                    </div><button class="color"
                                        style="background-color: rgb(0, 0, 0);">&nbsp;&nbsp;&nbsp;</button>
                                </div>
                            </div>
                            <div label="Font Style" class="sc-eerKOB ekAxWx">
                                <div class="sc-emmjRN eDOXIf">Font Style</div>
                                <div class="sc-cpmLhU jhojzM"><button class="sc-dymIpo letVLu" title="Bold"><svg
                                            aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bold"
                                            class="svg-inline--fa fa-bold fa-w-12 " role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                            <path fill="currentColor"
                                                d="M333.49 238a122 122 0 0 0 27-65.21C367.87 96.49 308 32 233.42 32H34a16 16 0 0 0-16 16v48a16 16 0 0 0 16 16h31.87v288H34a16 16 0 0 0-16 16v48a16 16 0 0 0 16 16h209.32c70.8 0 134.14-51.75 141-122.4 4.74-48.45-16.39-92.06-50.83-119.6zM145.66 112h87.76a48 48 0 0 1 0 96h-87.76zm87.76 288h-87.76V288h87.76a56 56 0 0 1 0 112z">
                                            </path>
                                        </svg></button>&nbsp;<button class="sc-dymIpo letVLu" title="Italic"><svg
                                            aria-hidden="true" focusable="false" data-prefix="fas" data-icon="italic"
                                            class="svg-inline--fa fa-italic fa-w-10 " role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                            <path fill="currentColor"
                                                d="M320 48v32a16 16 0 0 1-16 16h-62.76l-80 320H208a16 16 0 0 1 16 16v32a16 16 0 0 1-16 16H16a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h62.76l80-320H112a16 16 0 0 1-16-16V48a16 16 0 0 1 16-16h192a16 16 0 0 1 16 16z">
                                            </path>
                                        </svg></button></div>
                            </div>
                            <div label="Text Align" class="sc-eerKOB ekAxWx">
                                <div class="sc-emmjRN eDOXIf">Text Align</div>
                                <div class="sc-cpmLhU jhojzM"><button class="sc-dymIpo letVLu" title="Align Left"><svg
                                            aria-hidden="true" focusable="false" data-prefix="fas"
                                            data-icon="align-left" class="svg-inline--fa fa-align-left fa-w-14 "
                                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path fill="currentColor"
                                                d="M12.83 352h262.34A12.82 12.82 0 0 0 288 339.17v-38.34A12.82 12.82 0 0 0 275.17 288H12.83A12.82 12.82 0 0 0 0 300.83v38.34A12.82 12.82 0 0 0 12.83 352zm0-256h262.34A12.82 12.82 0 0 0 288 83.17V44.83A12.82 12.82 0 0 0 275.17 32H12.83A12.82 12.82 0 0 0 0 44.83v38.34A12.82 12.82 0 0 0 12.83 96zM432 160H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0 256H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z">
                                            </path>
                                        </svg></button>&nbsp;<button class="active sc-dymIpo letVLu"
                                        title="Align Center"><svg aria-hidden="true" focusable="false" data-prefix="fas"
                                            data-icon="align-center" class="svg-inline--fa fa-align-center fa-w-14 "
                                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path fill="currentColor"
                                                d="M432 160H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0 256H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zM108.1 96h231.81A12.09 12.09 0 0 0 352 83.9V44.09A12.09 12.09 0 0 0 339.91 32H108.1A12.09 12.09 0 0 0 96 44.09V83.9A12.1 12.1 0 0 0 108.1 96zm231.81 256A12.09 12.09 0 0 0 352 339.9v-39.81A12.09 12.09 0 0 0 339.91 288H108.1A12.09 12.09 0 0 0 96 300.09v39.81a12.1 12.1 0 0 0 12.1 12.1z">
                                            </path>
                                        </svg></button>&nbsp;<button class="sc-dymIpo letVLu" title="Align Right"><svg
                                            aria-hidden="true" focusable="false" data-prefix="fas"
                                            data-icon="align-right" class="svg-inline--fa fa-align-right fa-w-14 "
                                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path fill="currentColor"
                                                d="M16 224h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16zm416 192H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm3.17-384H172.83A12.82 12.82 0 0 0 160 44.83v38.34A12.82 12.82 0 0 0 172.83 96h262.34A12.82 12.82 0 0 0 448 83.17V44.83A12.82 12.82 0 0 0 435.17 32zm0 256H172.83A12.82 12.82 0 0 0 160 300.83v38.34A12.82 12.82 0 0 0 172.83 352h262.34A12.82 12.82 0 0 0 448 339.17v-38.34A12.82 12.82 0 0 0 435.17 288z">
                                            </path>
                                        </svg></button></div>
                            </div>
                            <div label="Line Height" class="sc-eerKOB ekAxWx" style="padding-top: 15px;">
                                <div class="sc-emmjRN eDOXIf">Line Height</div>
                                <div class="sc-cpmLhU jhojzM">
                                    <div class="slider"><input type="number" min="0" max="2" step="0.1" value="1"><span
                                            class="MuiSlider-root jss57 MuiSlider-colorPrimary"><span
                                                class="MuiSlider-rail jss62"></span><span class="MuiSlider-track jss61"
                                                style="left: 0%; width: 50%;"></span><input type="hidden"
                                                value="1"><span
                                                class="MuiSlider-thumb jss58 MuiSlider-thumbColorPrimary" tabindex="0"
                                                role="slider" data-index="0" aria-orientation="horizontal"
                                                aria-valuemax="2" aria-valuemin="0" aria-valuenow="1"
                                                style="left: 50%;"></span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subpanel overflow  sc-hqyNC kaXjBM">
                        <div class="sc-eilVRo dBtaUh">
                            <div label="Outline" class="sc-eerKOB ekAxWx">
                                <div class="sc-emmjRN eDOXIf">Outline</div>
                                <div class="sc-cpmLhU jhojzM">
                                    <div class="slider"><input type="number" min="0" max="15.5" step="0.5"
                                            value="0"><span class="MuiSlider-root jss57 MuiSlider-colorPrimary"><span
                                                class="MuiSlider-rail jss62"></span><span class="MuiSlider-track jss61"
                                                style="left: 0%; width: 0%;"></span><input type="hidden" value="0"><span
                                                class="MuiSlider-thumb jss58 MuiSlider-thumbColorPrimary" tabindex="0"
                                                role="slider" data-index="0" aria-orientation="horizontal"
                                                aria-valuemax="15.5" aria-valuemin="0" aria-valuenow="0"
                                                style="left: 0%;"></span></span></div><button class="color"
                                        style="background-color: rgb(255, 0, 0); margin-left: 25px;">&nbsp;&nbsp;&nbsp;</button>
                                </div>
                            </div>
                            <div label="Shadow" class="sc-eerKOB ekAxWx">
                                <div class="sc-emmjRN eDOXIf">Shadow</div>
                                <div class="sc-cpmLhU jhojzM">
                                    <div class="slider"><input type="number" min="0" max="15" step="0.5" value="0"><span
                                            class="MuiSlider-root jss57 MuiSlider-colorPrimary"><span
                                                class="MuiSlider-rail jss62"></span><span class="MuiSlider-track jss61"
                                                style="left: 0%; width: 0%;"></span><input type="hidden" value="0"><span
                                                class="MuiSlider-thumb jss58 MuiSlider-thumbColorPrimary" tabindex="0"
                                                role="slider" data-index="0" aria-orientation="horizontal"
                                                aria-valuemax="15" aria-valuemin="0" aria-valuenow="0"
                                                style="left: 0%;"></span></span></div><button class="color"
                                        style="background-color: rgb(102, 102, 102); margin-left: 25px;">&nbsp;&nbsp;&nbsp;</button>
                                </div>
                            </div>
                            <div label="Opacity" class="sc-eerKOB ekAxWx">
                                <div class="sc-emmjRN eDOXIf">Opacity</div>
                                <div class="sc-cpmLhU jhojzM">
                                    <div class="slider"><input type="number" min="0" max="1.1" step="0.1"
                                            value="1"><span class="MuiSlider-root jss57 MuiSlider-colorPrimary"
                                            style="margin-right: 20px;"><span class="MuiSlider-rail jss62"></span><span
                                                class="MuiSlider-track jss61"
                                                style="left: 0%; width: 90.9091%;"></span><input type="hidden"
                                                value="1"><span
                                                class="MuiSlider-thumb jss58 MuiSlider-thumbColorPrimary" tabindex="0"
                                                role="slider" data-index="0" aria-orientation="horizontal"
                                                aria-valuemax="1.1" aria-valuemin="0" aria-valuenow="1"
                                                style="left: 90.9091%;"></span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
