input,
textarea,
div.filler {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  font-size: 16px;
  border: 0px;
  border-radius: 4px;
  background-color: #eeeeee;
  padding: 5px;
}

button {
  display: block;
  background-color: #ca1254;
  border: 0px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.kWWMt div.buttons button {
  width: 100%;
  margin-bottom: 5px;
}

.eqtwmP {
  background-color: white;
  border: 2px solid #ec9715;
  color: #ec9715;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  display: inline-block;
}

.fqcxCf {
  margin: 0px 0px 10px;
  padding: 5px;
  border: 1px solid #ec9715;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  text-align: center;
}

.kWWMt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  margin: 0px;
}

.fmMFPB {
  display: block;
  padding: 10px;
  max-height: calc(100vh - 145px);
  overflow: hidden auto;
}

.kdIpjn div.subpanels {
  height: auto;
  max-height: calc(100vh - 75px);
  overflow: auto;
}

.kWWMt div.buttons {
  margin: 0px 10px;
}

.cBSPOA {
  background-color: white;
  border: 2px solid #ec9715;
  color: #ec9715;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.jhojzM {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jhojzM .MuiInputBase-root,
.jhojzM .loading {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}

.jhojzM .MuiInputBase-root.font .MuiSelect-root {
  padding: 0px;
  color: black;
  border: 0px;
}

.MuiSelect-select.MuiSelect-select {
  padding-right: 24px;
}

.jss62 {
  color: white;
  border: 1px solid white;
  padding: 4px;
  position: relative;
  font-size: 16px;
  border-radius: 4px;
  background-color: transparent;
}

.MuiSelect-selectMenu {
  height: auto;
  overflow: hidden;
  min-height: 1.1876em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.MuiSelect-select {
  cursor: pointer;
  min-width: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-animation-name: mui-auto-fill-cancel;
          animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  -webkit-animation-duration: 10ms;
          animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

.jhojzM input,
.jhojzM textarea,
.jhojzM div.filler {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  font-size: 16px;
  border: 0px;
  border-radius: 4px;
  padding: 5px;
}

.MuiSelect-nativeInput {
  left: 0;
  width: 100%;
  bottom: 0;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.jhojzM button.color {
  display: block;
  height: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
  margin-left: 8px;
  border-radius: 3px;
  background-color: black;
}

.eDOXIf {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
  padding: 5px;
  margin-right: 8px;
  font-size: 12px;
}

.jhojzM {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.letVLu {
  background-color: transparent;
  border: 1px solid #333333;
  color: #333333;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.ekAxWx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  color: inherit;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #d5d5d5;
}

.exoAQC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.kaXjBM {
  display: block;
  padding: 1px;
  max-height: calc(100vh - 145px);
  overflow: hidden auto;
  background-color: white;
}

.eYqUzi {
  background-color: transparent;
  padding: 3px;
  min-width: 75px;
  max-width: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.eYqUzi img {
  max-width: 90%;
  max-height: 100px;
  margin: 2px;
  border-radius: 3px;
}

.jUvqhF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 298px;
  background-color: #eeeeee;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  z-index: 9;
}

.fcnjTq {
  font-size: 16px;
  color: black;
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 0%;
          flex: 0 1 0%;
}

.caRYDT {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  border: 0px;
  font-size: 20px;
  padding: 5px;
  max-width: 180px;
}

.elRzds {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
  background-color: transparent;
  border: 0px;
  width: 50px;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}

.fa-2x {
  font-size: 2em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
/*# sourceMappingURL=text-art-filter.component.css.map */