<div class="banner">
    <div class="work-area" style="position: relative;">
        <canvas id="exampleCanvas" width="100" height="100" style="position: absolute; left: 0; top: 0; z-index: 0;">

            Your browser doesn’t currently support HTML5 Canvas. Please check caniuse.com/#feat=canvas for
            information on browser support for canvas.


        </canvas>
        <!-- <canvas id="upperCanvas" width="100" height="100"  style="position: absolute; left: 0; top: 0; z-index: 1;">
        </canvas> -->
    </div>
    <div id="container"></div>
</div>