<div class="banner">
    <div class="work-area" #workArea>
        <canvas id="exampleCanvas">
            Your browser doesn’t currently support HTML5 Canvas. Please check caniuse.com/#feat=canvas for
            information on browser support for canvas.
        </canvas>
        <!-- <canvas id="upperCanvas"></canvas> -->
        <!-- <ul class="sc-bdVaJa jgLspe" [ngStyle]="{visibility: 'hidden', position:'absolute'}" *ngIf="false">
            <li class="sc-bwzfXH haAKrB" (click)="stretchObject()"><a>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrows-alt"
                        class="svg-inline--fa fa-arrows-alt fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path fill="currentColor" [attr.d]="shapes.Stretch.backgroundPath"></path>
                    </svg>Stretch</a></li>
            <li class="sc-bwzfXH haAKrB" (click)="stretchObject()"><a>
                    <svg aria-hidden="true" data-prefix="fas" data-icon="clone" class="svg-inline--fa fa-clone fa-w-16 "
                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" [attr.d]="shapes.Copy.backgroundPath"></path>
                    </svg>Duplicate</a>
            </li>
            <li class="sc-bwzfXH haAKrB" (click)="stretchObject()"><a><img
                        src="https://signmonkey.com/builder-30-03-2023-22/static/media/flip-horizontal.362ab177.svg"
                        width="15" height="15" alt="Horizontal Mirror">Mirror Horizontal</a></li>
            <li class="sc-bwzfXH haAKrB"><a>
                    <img src="https://signmonkey.com/builder-30-03-2023-22/static/media/flip-vertical.9ed0dae7.svg"
                        width="15" height="15" alt="Vertical Mirror">Mirror Vertical</a></li>
        </ul> -->
    </div>
</div>