<nav class="navbar bg-body-tertiary ">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <div class="navbar-toggler-icon"></div>
        </button>
        <div class="offcanvas offcanvas-bottom visible " tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"   data-bs-backdrop="false" 
            data-bs-keyboard="false">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Products</h5>
                <button type="button" class="btn-close" #close data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <app-products (clickEvent)="products($event)" *ngIf="selectedProduct.category == '';else prd"></app-products>
                <ng-template #prd>
                    <app-product-details [selectedProduct]="selectedProduct" (bckEvt)="prodDtls($event)" (ValueChange)="ValueChange1($event)"></app-product-details>
                </ng-template>
                
            </div>
        </div>
    </div>
</nav>