/* You can add global styles to this file, and also import other style files */
.navbar {

    position: relative;
    z-index: 99;

}

.offcanvas {
    left: 0;
    margin: 10px;
    border-radius: 10px;
}

.fa-chevron-right {
    font-size: 20px;
    color: #e5e5e5;
}

.work-area {
    position: absolute;
    top: 57px;
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    background: #bbbbbb;
}

// canvas {
//     height: 105px;
// }

.offcanvas-backdrop.show {
    opacity: 0;
}

.mat-stepper-next {
    background-color: rgb(0, 127, 255);
    border: 1px solid #007fff;
    color: white;
    width: 145px;
    height: 40px;
}

.mat-stepper-previous {
    border: 1px solid #007fff;
    color: #007fff;
    width: 145px;
    height: 40px;
}
.modal-backdrop.fade {
    opacity: 0 !IMPORTANT;
}
.Reset{
    border: 1px solid red;
    color: red;
    width: 145px;
    height: 40px;
}